<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antnest.cmc.biz.mapper.ConstantMapper">
	<select id="selectByOrgAccount" parameterType="Long" resultType="com.antnest.cmc.entity.Constant">
		select *
		from cmc_constant
		where org_account_id = #{orgAccountId}
		  and delete_flag = 0
	</select>
</mapper>
