<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--sql显示
    <logger name="org.mybatis" level="INFO"/>
    <logger name="java.sql" level="INFO"/>

    -->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="com.netflix" level="INFO"/>
    <logger name="feign" level="INFO"/>

    <logger name="com.caizi" level="INFO"/>
    <logger name="com.baomidou.mybatisplus" level="INFO"/>

    <property name="LOG_FILE" value="./logs/template.log"/>

    <appender name="MY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-0}</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="MY_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>